<!--<div class="toolbar" role="banner">-->
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Kanban</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLinkActive="active" routerLink="/utilisateur">Utilisateurs<span class="sr-only">(current)</span></a>
        <a class="nav-link active" routerLinkActive="active" routerLink="/tabelaux">Tableaux<span class="sr-only">(current)</span></a>
        <a class="nav-link active" routerLinkActive="active" routerLink="/fiches">Fiches<span class="sr-only">(current)</span></a>
        <a class="nav-link active" routerLinkActive="active" routerLink="/tag">Tags<span class="sr-only">(current)</span></a>
        <a class="nav-link active" routerLinkActive="active" routerLink="/sections">Sections<span class="sr-only">(current)</span></a>

      </div>
    </div>
  </nav>
</div>


<div class="container_principal">
  <router-outlet></router-outlet>
</div>


